{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">

Dashboard

</h2>

<div class="row">

<div class="col-md-3">

<div class="card shadow-sm">

<div class="card-body">

<h5>

Produtos

</h5>

<h2>

0

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow-sm">

<div class="card-body">

<h5>

Endereçados

</h5>

<h2>

0

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow-sm">

<div class="card-body">

<h5>

Sem Endereço

</h5>

<h2>

0

</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow-sm">

<div class="card-body">

<h5>

Posições

</h5>

<h2>

0

</h2>

</div>

</div>

</div>

</div>

{% endblock %}